.card[b-a5wmkobj3t] {
    width: 15rem;
    font-size: 0.7rem;
    text-decoration: none;
}

.mh-8[b-a5wmkobj3t] {
    min-height: 9rem;
}

remdec[b-a5wmkobj3t] {
    text-decoration: none;
}

.removelinkdefault[b-a5wmkobj3t] {
    color: black;
    text-decoration: none;
}

.NavLink[b-a5wmkobj3t] {
    text-decoration: 0;
}

