

<div class="container mt-5">
    <div class="">
        <div class="row">

            @if (products == null)
            {
                <div class="d-flex justify-content-center align-items-center vh-100">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading products</span>
                    </div>
                </div>
            }
            else
            {
                @foreach (var product in products)
                {
                    <ProductItem Item="@product" />
                }
            }

        </div>
    </div>
</div>


@code {
    private Product[] products;

    private async Task GetProductsAsync()
    {
        products = await Http.GetFromJsonAsync<Product[]>("https://localhost:44367/api/Products");

    }

    protected override void OnInitialized()
    {
        var timer = new Timer(new TimerCallback(_ => InvokeAsync(() => StateHasChanged())), null, 1000, 1000);
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await GetProductsAsync();
    }
}
